<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg"/>
        <h2>{{title}}</h2>

        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button (click)="submit()" class="btn-primary" [disabled]="disablePrimaryBtn">{{primaryBtnText}}</button>
            <div class="divider">
                <div class="line"></div>
                <span>or</span>
                <div></div>
            </div>
            <button (click)="navigate()" class="btn-secondary">{{secundaryBtnText}}</button>
        </div>
    </section>

    <section class="main-section">
        <h2>You Should, Moveit</h2>
        <img src="/assets/svg/main-ilustration.svg"/>
    </section>
</main>